.slider {
  display: flex;
  width: 100%;
  scroll-snap-type: x mandatory;
  overflow: auto;
}

.slider-item {
  flex: none;
}

.total-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.no-scroll-bar {
  &::-webkit-scrollbar {
    display: none !important;
  }
}
